+/.vagrant
+/public/hot
.env
.nyc_output
.phpstorm.meta.php
.vscode
/.idea
/node_modules
/public/gzero/*
/public/storage
/tests/_output
/vendor
_ide_helper.php
coverage
Homestead.json
Homestead.yaml
tests/_output/*
ansible/deployment-ssh-key
ansible/deploy-app.retry
ansible/deploy-stack.retry
ansible/provision-ci.retry
ansible/provision.retry
