#cookie-info {
  font        : $font-size-small $font-family-serif;
  line-height : 20px;
  position    : fixed;
  bottom      : 0;
  width       : 100%;
  left        : 0;

  background  : $white;
  background  : rgba(255, 255, 255, 0.9);
  border-top  : 1px solid darken($gray-ultra-lighter, 10%);
  z-index     : 99999;
  overflow    : hidden;
  height      : 1px;
  visibility  : hidden;
  transition  : all .2s linear;
  opacity     : 0;

  &.active {
    height           : auto;
    visibility       : visible;
    transition-delay : .2s;
    opacity          : 100;
  }

  .user-information {
    margin  : 0 auto;
    padding : 6px;
    color   : $text-color;

    a {
      margin-right : 6px;
    }

    #close-cookie-info {
      margin-right    : 0px;
      font-size       : $font-size-small*2;
      text-decoration : none;
      color           : $black;
      vertical-align  : middle;
      position        : absolute;
      right           : 20px;
      float           : right;
      transition      : color .2s ease-in-out;
      opacity         : 60;

      &:hover {
        cursor  : pointer;
        opacity : 100;
        color   : $brand-primary;
      }
    }

    p {
      font-size     : $font-size-small;
      margin-bottom : 0;
      padding       : 0 50px;
    }
  }
}

.ie8 {
  #cookie-info {
    height     : 60px;
    visibility : visible;
    opacity    : 100;

    &.cookie-box {
      display : none;
    }
  }
}

@media only screen and (max-width : 450px) {
  #cookie-info .user-information a {
    display      : block;
    margin-top   : 10px;
    margin-right : 0;
    text-align   : center;
  }

  #cookie-info .user-information #close-cookie-info {
    font-size : 40px;
  }

  #cookie-info .user-information p {
    text-align : center;
    padding    : 0 70px;
  }
}
