.slider {
  height   : 400px;
  position : relative; /* required */
  overflow : hidden;
}

.slider ul {
  list-style : none;
  margin     : 0;
  padding    : 0;
}

.slider > .sequence-canvas li {
  position : absolute;
  width    : 100%;
}

.slider > .sequence-canvas li div {
  opacity             : 0;
  transition-duration : 1s;
}

.slider > .sequence-canvas li div h1 {
  opacity             : 1;
  transition-duration : 1s;
  top                 : -50px;
  left                : -100px;
  position            : relative;
}

.slider > .sequence-canvas li div a {
  opacity             : 1;
  transition-duration : 1s;
  top                 : 50px;
  position            : relative;
  left                : 100px;
}

.slider > .sequence-canvas li.animate-in div {
  opacity             : 1;
  transition-duration : 1s;
}

.slider > .sequence-canvas li.animate-in div h1 {
  top  : 0;
  left : 0;
}

.slider > .sequence-canvas li.animate-in div a {
  top  : 0;
  left : 0;
}

.slider > .sequence-canvas li.animate-out div {
  opacity             : 0;
  transition-duration : 1s;
}

.slider > .sequence-canvas li.animate-out div h1 {
  top  : -50px;
  left : 100px;
}

.slider > .sequence-canvas li.animate-out div a {
  top  : 50px;
  left : -100px;
}

.slider > .sequence-canvas li > * {
  /* required */
  position : absolute;
}

.slider > .sequence-canvas {
  /* required */
  height : 100%;
  width  : 100%;
}

.slider > .sequence-canvas {
  /* required */
  height : 100%;
  width  : 100%;
}
